@model PeopleIndexViewModel

@{
    ViewData["Title"] = "Model.Title";
}

<h1>@Model.Title</h1>
<h5>@Model.SubTitle</h5>
<hr />
<div class="card">
    <div class="card-header bg-info">
        <a asp-action="Create" class="btn btn-light btn-sm">Register New Person</a>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Firstname
                    </th>
                    <th>
                        Middlename
                    </th>
                    <th>
                        Lastname
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        DepartmentId
                    </th>
                    <th>
                        DepartmentName
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.People.PageContent)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Firstname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Middlename)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Lastname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DepartmentId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DepartmentName)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new {  id=item.Id  }) |
                            @Html.ActionLink("Detail", "Detail", new { id=item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new {id=item.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="card-footer bg-info">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
                @for (int i = 1; i <= Model.People.TotalPage; i++)
                {
                    if (i == Model.People.CurrentPage)
                    {
                        <li class="page-item active"><span class="page-link">@i</span></li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" asp-action="index" asp-controller="people" asp-area="" asp-route-page="@i" asp-route-size="@Model.People.PageSize">@i</a>
                        </li>
                    }
                }
            </ul>
        </nav>
    </div>
</div>